{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--primary-color);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="navbar-title">Sistema de Tickets</span>
    </a>
    <button class="navbar-toggler" type="button" id="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}" href="{% url 'core:inicio' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'crear' %}active{% endif %}" href="#">Crear Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>