{# REQUIRED: app_name, nav_items #}

<nav class="navbar">
  <div class="navbar__container">

    <div class="navbar__logo">
      {{ app_name | default('Practica') }}
    </div>

    <ul class="navbar__links">

      {% for item in nav_items %}
        <li class="navbar__item">
          <a class="navbar__link" href="{{ item.url }}">
            {{ item.label }}
          </a>
        </li>
      {% endfor %}

    </ul>

  </div>
</nav>