<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Tickets{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "blocks/navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>